@tailwind base;
@tailwind components;
@tailwind utilities;

.category-group-button {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.category-group-button::-webkit-scrollbar {
  display: none;
}
